alabaster==0.7.12
altgraph==0.17.2
arcgis==2.0.0
argcomplete==1.12.3
argon2-cffi==20.1.0
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.10b0
bleach==4.0.0
blinker==1.4
blis==0.7.4
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
coverage==6.1.1
cryptography==3.4.8
cycler==0.10.0
cymem==2.0.5
cytoolz==0.11.0
dask==2021.10.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
docutils==0.17.1
elementpath==2.4.0
entrypoints==0.3
fastai==1.0.54
fastprogress==1.0.0
fonttools==4.25.0
fsspec==2021.8.1
future==0.18.2
geomet==0.3.0
idna==3.2
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
ipykernel==6.8.0
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.6
jsonschema==3.0.2
junit2html==30.0.6
jupyter-client==7.0.1
jupyter-core==4.8.1
jupyterlab==2.3.1
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
keyring==21.7.0
keyrings.alt==4.1.0
kiwisolver==1.3.1
locket==0.2.1
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==8.10.0
munkres==1.1.4
murmurhash==1.0.5
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.0
ntlm-auth==1.5.0
numexpr==2.7.3
numpy==1.16.2
oauthlib==3.1.1
olefile==0.46
packaging==21.0
pandas==1.3.4
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
pathspec==0.9.0
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.4.0
pip==21.2.4
plac==1.1.0
platformdirs==2.4.0
pluggy==0.13.1
preshed==3.0.5
prettyprint==0.1.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
py==1.10.0
pycparser==2.20
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
PyJWT==2.1.0
pyOpenSSL==21.0.0
pyparcels>=1.2.0
pyparsing==3.0.4
pyrsistent==0.18.0
PySimpleGUI==4.55.1
pysimplegui-exemaker==1.3.0
PySocks==1.7.1
pytest==6.2.4
pytest-blockage==0.2.2
pytest-cov==3.0.0
python-certifi-win32==1.6
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0
pyzmq==22.2.1
regex==2021.11.2
requests==2.26.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
Rtree==0.9.7
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.1
selenium==3.141.0
Send2Trash==1.8.0
setuptools==58.5.3
setuptools-scm==6.3.2
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
spacy==2.3.5
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==1.0.5
terminado==0.9.4
testpath==0.5.0
thinc==7.4.5
threadpoolctl==2.2.0
tifffile==2021.7.2
toml==0.10.2
tomli==1.2.2
toolz==0.11.1
torch==1.1.0
torchvision==0.3.0
tornado==5.1.1
tqdm==4.62.3
traitlets==5.1.1
typed-ast==1.4.3
typing-extensions==3.10.0.2
ujson==4.0.2
unittest-xml-reporting==3.0.4
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
winkerberos==0.7.0
wrapt==1.13.3
xmlschema==1.9.2
xmltodict==0.12.0
zipp==3.6.0
